<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>爱国福</string>
	<string>富强福</string>
	<string>和谐福</string>
	<string>友善福</string>
	<string>敬业福</string>
</array>
</plist>
